<!-- Services Section -->
<section id="data_story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Data Story</h2>
                <h3 class="section-subheading text-muted">
                    In order to give some deeper insights to the information that we generated but also to make our workflow
                    easier to understand for the reader, we decided to split our data story in smaller data stories
                    called <i>substories</i> which are linked. The substories were set up in such a way that they all
                    answer one of our research questions. In fact, the whole substory in built around this question.
                    The first part of the substory is used to introduce and state the problem that we want to answer and
                    why it is interesting to studies this topic. These introduction should serve as teaser for the reader.
                    The used dataset is also explicitly mentioned in each document. This should make it possible for the
                    reader to eventually reproduce our experiments or at least to understand which dataset and which part of
                    it was used to get the information that we want to show. Finally, the major part of the substory is
                    obviously dedicated to the graphs that we produced to answer the research question. Each graph comes
                    with a description of the phenomena but also with an interpretation of the results in order to conclude
                    something from the data regarding the research question.
                </h3>
                <h4 class="introduction-heading">
                    <p style="text-align:justify">
                        The data story presented of the Investing for Social Good project is composed of six questions.
                        The First part, and so, the first research question of the project was described to in the
                        <a href="#portfolioModal4" class="research-link" data-toggle="modal">Who owns Who?</a> substory.
                        substory what is the data that we are actually looking at.

                        <a href="#portfolioModal2" class="research-link" data-toggle="modal">The Asset Manager's Portfolio</a>

                        <a href="#portfolioModal7" class="research-link" data-toggle="modal">Towards Social Good </a>

                        <a href="#portfolioModal1" class="research-link" data-toggle="modal">The Ethics of Investing</a>

                        <a href="#portfolioModal3" class="research-link" data-toggle="modal">Sentiment Analysis</a>

                        <a href="#portfolioModal6" class="research-link" data-toggle="modal">Investment Geography US Investments on Maps</a>

                        <a href="#portfolioModal5" class="research-link" data-toggle="modal">Other Countries</a>
                    </p>
                </h4>
            </div>
        </div>
</section>