<!-- Services Section -->
    <section id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introduction</h2>
                    <h3 class="section-subheading text-muted">
                        "Society is demanding that companies, both public and private, serve a social purpose.
                        To prosper over time, every company must not only deliver financial performance but also show
                        how it makes a positive contribution to society." \n Laurence D. Fink, CEO BlackRock </h3>
                    <h4 class="service-heading">
                    Asset managers are increasingly challenged by their investors to manage their portfolios for social
                    impact. However, it is non-trivial for investors and investment managers to maintain regular
                    oversight over the social impact composition of their portfolios. The U.S. Securities and
                    Exchange Commission’s (SEC’s) EDGAR maintains a digital record of the portfolio filings of
                    publicly traded asset managers. All the News is a Kaggle dataset of news articles primarily
                    from 2016 to 2017. </h4>
                    <h4 class="service-heading">
                        Furthermore, it could be interesting to correlate the greater public's interest into social
                        good projects expressed on social media platforms such as Twitter and Facebook, or news platforms,
                        with the actual investments that are done. </h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>